@import '{reywood:bootstrap3-sass}/bootstrap';

@import 'variables/_main';

ul {
	padding: 0;
}

.main-content {
	padding: $container_paddings;
}

.seperate-section {
	margin-bottom: $seperate_mg_btm;
}

.glyph-btn {
	font-size: 24px;
}

.center-content {
	display: flex;
	align-items: center;
}

.reflect-yaxis {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}